.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--bg-secondary);
    width: 100%;
    color: var(--text-secondary);
    padding: 40px 0;
    margin-top: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-img {
    width: 245.14px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -100px;
}

.footer-description {
    font-size: 12px;
    max-width: 200px;
    line-height: 1.5;
    margin-top: -95px;
    margin-left: 30px;
}

.footer-sections {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
    margin-top: -10px;
    font-size: 16px;
}

.footer-section h4 {
    color: var(--text-primary);
    font-weight: 500;
}

.footer-subtitle {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.footer-links li a {
  text-decoration: none;
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links li a:hover {
    color: var(--text-primary);
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    color: var(--text-secondary);
    margin-top: -30px;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centers all child elements */
    }

    .img {
        width: 245.14px;
    }

    .footer-logo {
        margin-right: 30px;
    }

    .footer-description {
        margin-top: -110px;
    }

    .footer-sections {
        gap: 10px;
    }

    .footer-section {
        margin-top: -10px;
    }

    .footer-subtitle {
        margin-top: -15px;  
    }
}

@media (max-width: 720px) {
    .footer {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centers all child elements */
    }

    .img {
        width: 245.14px;
        
    }

    .footer-logo {
        margin-right: 30px;
    }

    .footer-description {
        margin-top: -110px;
    }

    .footer-sections {
        gap: 40px;
    }

    .footer-section {
        margin-top: -10px;
    }

    .footer-subtitle {
        margin-top: -15px;  
    }
}